@{
    ViewBag.Title = "About";
}
  <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <br /> <br />
                <h1 class="page-header">Sobre nosotros</h1>
                <p><strong>House of G</strong> es una empresa dedicada a la venta de perifericos gamer. </p>
                <p> A medida que los eSports (competiciones de videojuegos) han ido creciendo, los jugadores se han ido interesando más en ser parte de ellos pudiendo lograr ser un jugador profesional ya sea de estrategia en tiempo real, lucha, disparos en primera persona o de los ya conocidos MOBA. </p>
                <p>En consecuencia, se hace necesaria la utilización de periféricos que estén a la altura, mouses con más botones y respuestas mucho más rápidas, teclados mecánicos con botones programables, etc. Debido a esto y tomando en cuenta las pocas tiendas dedicadas completamente a los gamers en Arica. Queremos ser tu tienda preferida a la hora de adquirir productos de marcas conocidas como lo son Razer, Ozone, Thermaltake, entre otros para darles una alternativa con precios competitivos, ahorrándoles los costos del envío y reduciendo drásticamente el tiempo de su llegada..</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nuestro equipo</h2>
            </div>
            <div class="col-lg-12 col-sm-12 text-center">
                <img class="img-circle img-responsive img-center" src="http://bit.ly/1pNwi1J" alt="">
                <h3>R. Fernandez
                    <small>CEO</small>
                </h3>
                <p>Informa a agentes externos la participación de la empresa, objetivos y logros de la misma, así como la gestión de la organización y los empleados.</p>
            </div>
        </div>

        <hr>