@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="container">
    <div class="row">
         
                <div class="col-md-3">
                
                    <br />
                    <div class="list-group">
                        <a href="/Producto/Index" class="list-group-item">Gestion de Productos</a>
                    </div>
                </div> 

 </div>